
  .collectionDiv{
    padding-bottom: 24px;
    padding-top: 64px;  
  }
  .linkbuttonDiv{
    padding: 24px 0px;
    border-bottom: 1px solid #12121214;
    margin-bottom: 24px;
  }
  .linkbutton{
    text-decoration: none;
    font-size: clamp(14px, 10vw, 16px);
    color: black;
    margin-right:8px ;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .linkbutton:hover{
    background-color: #1212120a;
    cursor: pointer;
    
  }

  .buttonDiv{
    font-size: clamp(10px, 10vw, 18px);
    background-color: #1212120a;
    border: none;
    padding: 10px 14px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.categorieDiv{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: fit-content;
  border-radius: 10px;
  animation: FiltterOptions 1000ms ease 0s 1 normal forwards;
}
.categorieDivPosition{
  left: 190px;
}
.categorieButton{
  width: 100%;
  background-color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 4px;
}
.categorieButton:hover{
  background-color: #1212120a;
}
.buttontoggle{
  display: flex;
  align-items: center;
  gap:10px;
  background-color: #1212120a;
  padding: 4px;
  border-radius: 10px;
}
.buttons{
  font-size: clamp(10px, 10vw, 18px);
  padding: 10px 22px;
  font-weight: 600;
  background-color: transparent;
  border: none;
    }

  .buttons:hover{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
.drawer{
  width: 100%;
  background-color: white;
  position:absolute;
  border-radius: 10px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: FiltterOptions 1000ms ease 0s 1 normal forwards;
}
  @media screen and (max-width:450px ){
    .buttonDiv{
      gap: 10px;
      font-size: 14px;
  }
   
  }

  @keyframes FiltterOptions {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
 

 