
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  max-width: 1920px;
  /* overflow-x: hidden; */
  padding: 0px 10px;
}


h1{
  color: black;
   font-size: clamp(32px, 10vw, 48px);
  font-style: normal;
  font-weight: 600;
}


